[Unit]
Description=Alertmanager for Prometheus Monitoring
Requires=network-online.target
After=network-online.target

[Service]
{%- set settings = salt['grains.filter_by']({
    'rz01': {
      'proxy': "http://10.15.1.124:3128",
    },
    'rz02': {
      'proxy': "http://10.16.1.124:3128",
    },
    'rz03': {
      'proxy': "http://10.17.1.124:3128",
    },
    'unset': {}
}, grain='inventory:datacenter', default='unset') %}

Environment=http_proxy={{ settings.get('proxy', None) }}
Environment=https_proxy={{ settings.get('proxy', None) }}

Restart=on-failure
StandardOutput=journal
StandardError=journal
User={{ alertmanager.service_user }}
Group={{ alertmanager.service_group }}
ExecStart={{ alertmanager.bin_dir }}/alertmanager \
{%- for clusterconf, value in salt['pillar.get']('alertmanager:cluster', {}).iteritems() %}
  {%- if clusterconf == 'peer' %}
    {%- for peer in value %}
      {#- could not find a better solution than adding the port to each element of grains['fqdn_ip4'] #}
      {%- set peers_with_port = grains['fqdn_ip4'] | join(":9094,") %}
      {%- set peers_with_port = [peers_with_port, ':9094'] | join %}
      {%- set peers_with_port = peers_with_port.split(",") %}
      {%- if peer not in peers_with_port %}
  --cluster.peer={{ peer }} \
      {%- endif%}
    {%- endfor%}
  {%- else %}
  --cluster.{{ clusterconf }}={{ value }} \
  {%- endif%}
{%- endfor %}
  --config.file={{ alertmanager.config_dir }}/alertmanager.yml \
  --storage.path={{ alertmanager.data_dir}}
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
